version: '2'

services:
  mongodb:
    image: docker.io/bitnami/mongodb:latest
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - 'mongodb_data:/bitnami/mongodb'
    environment:
      - MONGODB_ROOT_PASSWORD=${MONGODB_ROOT_PASSWORD}

volumes:
  mongodb_data:
    driver: local
